name: "Interactive Terminal"
on: workflow_dispatch # Manual trigger

jobs:
  shell:
    runs-on: ubuntu-latest # or windows-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup tmate session
        uses: [mxschmitt/action-tmate](https://github.com/marketplace/actions/debugging-with-tmate)@v3
        with:
          # This limits access to ONLY your GitHub account (security best practice)
          limit-access-to-actor: true 

